body {
  background: url(/inst2.JPG) no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
  zoom: 150%;

  overflow-x: hidden;
  overflow-y: auto;
}
.nav {
  background-color: rgba(0, 0, 0, 0.342);
  overflow: hidden;

  position: fixed; /* Set the navbar to fixed position */
  top: 0px; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 45px;
}
.ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 2px;
  margin-top: 0em;
  padding: 0px;
  height: 40px;
}
.ul1 {
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
  color: white;
}
li > a {
  text-decoration: none;
  color: white;

  text-align: center;
  padding: 0px;
}
li > a:hover {
  color: orange;
}
.ul1:hover {
  color: orange;
}
.main {
  margin-top: 80px;
}
#stand {
  display: flex;
  width: 200px;
  height: 250px;
  padding: 0px;
  justify-content: center;
}

.inst3 {
  display: flex;
  flex-direction: row;
}

h2 {
  width: 70%;
  height: auto;
  
}
.und {
  color: white;
  font-size: 3.5vw;
  font-family: Raleway, Helvetica, sans-serif;
  border-style: solid;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
p {
  color: turquoise;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1.2em;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(56, 56, 56, 0.472);

  width: 34vw;
  height: 24px;
}
h3 {
  font-style: italic;
  color: rgb(168, 226, 226);
  letter-spacing: 10px;
  border-bottom: solid 2px;
}
/*----------------------------------- */
html {
  scroll-behavior: smooth;
}

.foo {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
 
}
#about
{
  display: flex;
  flex-direction: row-reverse;

}
#res2,#res{
  width: 100%;
  height: auto;

}

.flexfoot {
  margin: 2px;
}
#home{
  width: 100%;
  height: auto;
}
/* #res{
  
  width: 100%;
 
  height: auto;
 
} */
